<app-header></app-header>
<main>
  <ul id="users">
    <li><app-user [selectedUser]="users[0]" (select)="onUserSelected($event)"></app-user></li>

    <li><app-user [selectedUser]="users[1]" (select)="onUserSelected($event)"></app-user></li>

    <li><app-user [selectedUser]="users[2]" (select)="onUserSelected($event)"></app-user></li>

    <li><app-user [selectedUser]="users[3]" (select)="onUserSelected($event)"></app-user></li>

    <li><app-user [selectedUser]="users[4]" (select)="onUserSelected($event)"></app-user></li>
  </ul>
</main>
