<app-header></app-header>
<app
<main>
  <ul id="users">
    <li>
      <app-add-user (click)="onClickAddUser()"></app-add-user>    
    </li>
    @for (user of users();track user.id) {
      <li>
        <app-user [selectedUser]="user" (click)="onSelectUser(user.id)"> </app-user>
      </li>
    }
  </ul>
  <!-- @if(selectedUser) {
    <app-task-list [selectedUser]="selectedUser"></app-task-list>
  }
  @else {
    <p>Please select an user</p>
  } -->
  @if(users().length==0){
    <p>Please Add an user</p>
  }
</main>
